<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Sort and Filter</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <style>
        body { padding-top:50px; }
        
        .mb-rows {
          vertical-align: middle !important;
        }
        .mb-buttons {
          padding: 3px 8px !important;
        }
    </style>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- https://bootstrap-datepicker.readthedocs.io/en/stable/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script>
      angular.module('sortApp', [])
        .controller('mainController', function($scope, $http) {
          $scope.sortType     = 'item_date'; // set the default sort type
          $scope.sortReverse  = false;  // set the default sort order
          $scope.item_date    = new Date();
          
          $http({ url: "/item",
                  method: "GET",
                  headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                  params: {target_month : 2, target_year : 2017}
          }).then (function(response) {
             $scope.items = response.data;
          }, function myError(response) {
            $scope.scats = [{id : 0, name : 'error'}];
          })

          $http.get("/main_category").then(function(response) {
             $scope.mcats = response.data;
            }, function myError(response) {
             $scope.mcats = [{id : 0, name : 'error'}];
          });
          
          $http.get("/payment").then(function(response) {
             $scope.payments = response.data;
            }, function myError(response) {
             $scope.payment = [{id : 0, name : 'error'}];
          });

          $scope.changeCategory = function() {
            if ($scope.main_category.id > 0) {
              $http({ url: "/sub_category",
                      method: "GET",
                      headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                      params: {mcat_id : $scope.main_category.id}
              }).then (function(response) {
                 $scope.scats = response.data;
              }, function myError(response) {
                $scope.scats = [{id : 0, name : 'error'}];
              })
            }
          };

          $scope.addItem = function() {
            var postedData = { item_date     : $scope.item_date, 
                               mcat_id       : $scope.main_category.id,
                               scat_id       : $scope.sub_category.id,
                               contents      : $scope.contents,
                               payment_id    : $scope.payment.id,
                               income        : $scope.income,
                               outcome       : $scope.outcome };

            $http({ url: "/item",
                    method: "POST",
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    params: postedData
            }).then(function(response) {
              $scope.items.push({ id            : response.data.insertId,
                                 item_date     : $scope.item_date, 
                                 main_category : $scope.main_category.name,
                                 sub_category  : $scope.sub_category.name,
                                 contents      : $scope.contents,
                                 payment       : $scope.payment.name,
                                 income        : $scope.income,
                                 outcome       : $scope.outcome });
            }).catch(function(response) {
              console.log(response.status);
              console.log(response.data);
            });
          };
          
          $scope.deleteItem = function(item) {
            $http({ url: "/item",
                    method: "DELETE",
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    params: {item_id : item.id}
            }).then(function(response) {
              var index = $scope.items.indexOf(item);
              $scope.items.splice(index, 1); 
            }).catch(function(response) {
              console.log(response.status);
              console.log(response.data);
            });
            
          };
      });

      $.fn.datepicker.defaults.format = "yyyy/mm/dd";
      $.fn.datepicker.defaults.todayHighlight = true;
    </script>
    <script type="text/javascript">
      $('.datepicker').datepicker()
    </script>

</head>
<body>

	<div class="container" ng-app="sortApp" ng-controller="mainController">

    <form ng-submit="addItem()">
      <div class="row">
        <div class='col-md-2' style="width:12%; padding:0 5px">
          <input type="date" data-provide="datepicker" class="form-control" ng-model="item_date" datetime="yyyy/MM/dd">
        </div>
        <div class='col-md-1' style="width:11%; padding:0 5px">
          <select class="form-control" ng-model="main_category" ng-options="x.name for x in mcats" ng-change="changeCategory()">
          </select>
        </div>
        <div class='col-md-1' style="width:11%; padding:0 5px">
          <select class="form-control" ng-model="sub_category" ng-options="x.name for x in scats" >
          </select>
        </div>
        <div class='col-md-3' style="width:26%; padding:0 5px">
          <input type="text" class="form-control" ng-model="contents" id="contents" />
        </div>
        <div class='col-md-1' style="width:11%; padding:0 5px">
          <select class="form-control" ng-model="payment" ng-options="x.name for x in payments">
          </select>
        </div>
        <div class='col-md-1' style="width:11%; padding:0 5px">
          <input type="text" class="form-control" ng-model="income" id="income" />
        </div>
        <div class='col-md-1' style="width:11%; padding:0 5px">
          <input type="text" class="form-control" ng-model="outcome" id="outcome" />
        </div>
        <div class='col-md-1' style="width:5%; padding:0 5px">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </form>

    <div class="row" style="padding:30px 0 0 0;">
  	  <table class="table table-striped">
  	    <thead>
  	      <tr>
  	        <td class="col-md-1">
  	          <a href="#" ng-click="sortType = 'item_date'; sortReverse = !sortReverse">
  	            날짜
  	            <span ng-show="sortType == 'item_date' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'item_date' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
  	        <td class="col-md-1">
  	          <a href="#" ng-click="sortType = 'main_category'; sortReverse = !sortReverse">
              분류
  	            <span ng-show="sortType == 'main_category' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'main_category' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
  	        <td class="col-md-1">
  	          <a href="#" ng-click="sortType = 'sub_category'; sortReverse = !sortReverse">
              소분류
  	            <span ng-show="sortType == 'sub_category' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'sub_category' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
  	        <td class="col-md-4">
  	          <a href="#" ng-click="sortType = 'contents'; sortReverse = !sortReverse">
              내용
  	            <span ng-show="sortType == 'contents' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'contents' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
  	        <td class="col-md-2">
  	          <a href="#" ng-click="sortType = 'payment'; sortReverse = !sortReverse">
              결재수단
  	            <span ng-show="sortType == 'payment' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'payment' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
  	        <td class="col-md-1">
  	          <a href="#" ng-click="sortType = 'income'; sortReverse = !sortReverse">
              수입
  	            <span ng-show="sortType == 'income' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'income' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
  	        <td class="col-md-1">
  	          <a href="#" ng-click="sortType = 'outcome'; sortReverse = !sortReverse">
              지출
  	            <span ng-show="sortType == 'outcome' && !sortReverse" class="fa fa-caret-down"></span>
  	            <span ng-show="sortType == 'outcome' && sortReverse" class="fa fa-caret-up"></span>
  	          </a>
  	        </td>
            <td class="col-md-1">
              <!-- blank -->
  	        </td>
  	      </tr>
  	    </thead>
  	    <tbody>
  	      <tr ng-repeat="i in items | orderBy:sortType:sortReverse | filter:searchFish track by i.id">
            <td class="mb-rows">{{ i.item_date }}</td>
  	        <td class="mb-rows">{{ i.main_category }}</td>
  	        <td class="mb-rows">{{ i.sub_category }}</td>
  	        <td class="mb-rows">{{ i.contents }}</td>
  	        <td class="mb-rows">{{ i.payment }}</td>
  	        <td class="mb-rows">{{ i.income }}</td>
  	        <td class="mb-rows">{{ i.outcome }}</td>
            <td class="mb-rows">
              <button class="btn btn-danger btn-sm mb-buttons" ng-click="deleteItem(i)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
  	      </tr>
  	    </tbody>
  	  </table>
  	</div>
  </div>

</body>
</html>
